* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header__container, .mainIndex__container {
  background-image: url("../assets/imagenes/portada 2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.header__logo--anchor {
  font-family: "Racing Sans One" cursive;
  color: #1e4a1e;
  padding: 1rem; }
  .header__logo--anchor img {
    margin-right: 1rem;
    font-size: 1.2rem; }

.header__indexTitle {
  color: #1e4a1e;
  font-family: "Racing Sans One" lighter;
  font-size: 3.3rem;
  padding: 3rem 4rem;
  position: absolute;
  top: 30rem; }
  @media screen and (max-width: 1024px) {
    .header__indexTitle {
      font-size: 2.9rem;
      padding: 2rem 2rem;
      top: 25rem; } }
  @media screen and (max-width: 768px) {
    .header__indexTitle {
      display: none; } }

@media screen and (max-width: 768px) {
  .header__indexTitle2 {
    color: #1e4a1e;
    font-family: "Racing Sans One" lighter;
    font-size: 3.3rem;
    padding: 3rem 4rem;
    position: absolute;
    top: 25rem; } }

@media screen and (max-width: 425px) {
  .header__indexTitle2 {
    font-size: 2.5rem;
    padding: 3rem 2rem; } }

@media screen and (min-width: 768px) {
  .header__indexTitle2 {
    display: none; } }

.header .nav__item {
  padding: 0.5rem 0.5rem;
  margin: 0rem 1rem;
  border: 0.1rem solid #1e4a1e;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Racing Sans One" cursive; }

.header .nav__link {
  color: #1e4a1e; }

.mainIndex__container {
  /* extend de header Index */
  background-image: url("../../assets/imagenes/foto_fondo_polvo_ladrillo.jpg"); }

.mainIndex__information {
  padding-top: 12rem;
  color: #1e4a1e;
  font-family: "Racing Sans One" lighter;
  text-align: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .mainIndex__information {
      padding-top: 10rem; } }
  @media screen and (max-width: 768px) {
    .mainIndex__information {
      padding-top: 7rem; } }
  @media screen and (max-width: 425px) {
    .mainIndex__information {
      padding-top: 6rem; } }

.mainIndex__text {
  font-size: 2.8rem;
  line-height: 6rem;
  font-variant: small-caps;
  color: #1e4a1e;
  background-color: rgba(251, 122, 75, 0.744); }
  @media screen and (max-width: 1024px) {
    .mainIndex__text {
      font-size: 2.5rem; } }
  @media screen and (max-width: 768px) {
    .mainIndex__text {
      font-size: 2.3rem;
      line-height: 5rem; } }
  @media screen and (max-width: 425px) {
    .mainIndex__text {
      font-size: 2rem;
      line-height: 4rem; } }

.sectionIndex {
  color: #1e4a1e;
  font-family: "Racing Sans One" lighter;
  text-align: center;
  background: #f1d6b6;
  background: #f2e0ca;
  background: radial-gradient(circle, rgba(242, 224, 202, 0.0847689) 17%, rgba(244, 192, 120, 0.132388) 56%, rgba(241, 201, 145, 0.314461) 96%); }
  .sectionIndex__subtitle {
    font-size: 2.5rem;
    padding: 4rem 0rem;
    font-weight: lighter;
    text-transform: uppercase; }
  .sectionIndex__cards {
    align-items: end; }
  .sectionIndex__card .card__image {
    background-color: #053305;
    padding: 0.5rem;
    margin-bottom: 0.5rem; }
  .sectionIndex__card .card__description {
    font-size: 1.5rem;
    padding: 0.3rem;
    color: #1e4a1e;
    border: 0.1rem solid #1e4a1e;
    font-weight: lighter; }

/* Pages */
.headerPages__title {
  color: #223522;
  font-family: "Racing Sans One";
  font-weight: lighter;
  font-size: 3.3rem;
  padding: 3rem 4rem;
  position: absolute;
  top: 30rem; }

/* Page: Academia - Main Section */
.academia__main {
  background: #d27b11;
  background: radial-gradient(circle, rgba(210, 123, 17, 0.504937) 34%, rgba(218, 173, 118, 0.633789) 69%, rgba(231, 206, 175, 0.824265) 91%);
  padding: 5rem; }

.main__text {
  color: #223522;
  font-family: "Racing Sans One";
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  margin-top: 2.5rem; }

.mainAcademia__image {
  width: 21rem;
  border: 0.3rem solid rgba(91, 90, 89, 0.474); }

/* Page: Academia - Second Section */
.section2 {
  padding: 5rem 2rem;
  font-family: "Racing Sans One";
  color: #223522;
  background: radial-gradient(circle, rgba(242, 224, 202, 0.0847689) 17%, rgba(244, 192, 120, 0.132388) 56%, rgba(241, 201, 145, 0.314461) 96%); }

.section2__text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0rem 0rem 1.5rem 4rem; }

.section2__subtitle {
  font-size: 2.3rem;
  padding: 1rem 0rem 2rem 7rem; }

.section2__cards {
  justify-content: space-around;
  margin-bottom: 2rem; }

.section2__card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 500px; }

.card1__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(245, 199, 113, 0.927);
  margin-top: 0.5rem;
  padding: 1rem 10.7rem;
  margin-top: 0.5rem;
  position: absolute;
  top: 21rem; }

.section2__card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 500px; }

.card2__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(245, 199, 113, 0.927);
  padding: 1rem 10.9rem;
  margin-top: 0.5rem;
  position: absolute;
  top: 21rem; }

/* Page: Academia - Third Section */
.section3 {
  font-family: "Racing Sans One";
  color: #223522;
  padding-bottom: 4rem;
  background: radial-gradient(circle, rgba(242, 224, 202, 0.0847689) 17%, rgba(244, 192, 120, 0.132388) 56%, rgba(241, 201, 145, 0.314461) 96%); }

.section3__subtitle {
  font-size: 2.3rem;
  padding: 4rem 0rem 6rem 4rem; }

.cardTeacher__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  padding: 0.3rem 0rem; }

.cardTeacher1__image {
  width: 23rem;
  height: 19rem;
  margin-bottom: 0.5rem; }

.cardTeacher2__image {
  width: 27rem;
  height: 19rem;
  margin-bottom: 0.5rem; }

.cardTeacher3__image {
  width: 21rem;
  height: 19rem;
  margin-bottom: 0.5rem; }

.sectionSedes {
  font-family: "Racing Sans One";
  color: #223522;
  padding: 1rem; }

.sectionSedes__subtitle {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 2rem; }

.subtitle__image {
  width: 6rem;
  padding-bottom: 1rem; }

.services__image {
  width: 30rem;
  position: relative;
  margin-top: 3rem; }

.services__text {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.7rem 7rem;
  margin: 0.5rem 0rem 1rem 0rem;
  background-color: rgba(246, 194, 96, 0.715);
  position: absolute; }

.sectionSedes__googleMaps {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 4rem 4rem 1rem 0rem; }

.googleMaps__icon {
  width: 5rem; }

.googleMaps__link {
  text-align: center;
  text-decoration: none;
  color: #223522;
  font-size: 1.2rem;
  padding: 0.6rem;
  border: 0.1rem solid #1e4a1e;
  border-radius: 0.5rem; }

/* Store - Main Section */
.store__mainSection {
  padding: 6rem 0rem; }

.card {
  margin: 1rem 0rem; }

.store__cards {
  padding: 2rem 0rem; }

.card-body {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Racing Sans One";
  color: #223522;
  padding: 2rem 0rem; }

.card-title {
  padding: 1rem 0rem; }

/* Store - Second Section */
.secondSection__store {
  height: 100vh;
  position: relative;
  background-image: url("../assets/imagenes/foto_fondo_polvo_ladrillo.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.secondSection__container {
  font-family: "Racing Sans One";
  color: rgba(189, 136, 37, 0.916);
  background-color: rgba(43, 59, 43, 0.749);
  font-weight: lighter;
  position: absolute;
  top: 4rem;
  right: 5rem;
  max-width: 70vw; }

.secondSection__title {
  font-size: 3.5rem;
  padding: 3rem 0rem 4rem 0rem;
  text-align: center; }

.secondSection__text {
  font-size: 2.5rem;
  padding-bottom: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: 2rem 5rem; }

/* Contacto - First Section */
.contact__section {
  display: flex;
  font-family: "Racing Sans One";
  color: #223522;
  padding: 9rem 0rem 5rem 0rem; }

.contact__text {
  font-size: 1.3rem; }

.contact__information {
  display: flex;
  flex-direction: column;
  padding: 0rem 6rem;
  margin: 2rem; }

.contact__information1 {
  display: flex;
  align-items: center; }

.contact__image {
  width: 5rem;
  margin: 4rem 5rem; }

.contact__information2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact2__title {
  font-size: 2.5rem;
  padding-bottom: 2rem; }

.contact2__text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 5rem 0rem 2rem 0rem; }

.contact2__icons {
  display: flex;
  justify-content: center;
  align-items: center; }

.contact2__image {
  width: 5rem;
  margin: 5rem 3rem; }

.contact2__image--bigger {
  width: 6.2rem; }

/* Formulario */
.form {
  font-family: "Racing Sans One";
  color: #223522;
  padding: 2rem 9rem; }

.form__legend {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 0rem; }

.form__data {
  display: flex;
  flex-direction: column; }

.form__information {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding: 1rem 4rem; }

.form__writingSpace {
  margin-left: 0.5rem; }

.form__bottoms {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Racing Sans One";
  color: #223522;
  padding: 2rem 5rem; }

.form__bottom {
  padding: 0.3rem 1rem;
  margin: 0rem 1rem;
  border-radius: 0.3rem; }

.agreement__text {
  font-size: 1.1rem;
  padding-right: 1rem; }

.form__agreement {
  padding: 0rem 5rem;
  font-size: 1.1rem; }

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Inter" sans-serif;
  font-size: 1rem;
  padding: 2rem 4rem;
  background: #020024;
  background: #002400;
  background: linear-gradient(90deg, rgba(0, 36, 0, 0.656198) 9%, rgba(14, 97, 5, 0.580567) 41%, rgba(69, 134, 96, 0.577766) 68%, rgba(80, 142, 115, 0.555357) 86%, rgba(95, 140, 115, 0.36208) 98%); }
  .footer__sedes {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media screen and (max-width: 1024px) {
      .footer__sedes {
        display: none; } }
  .footer__maps {
    margin: 0rem 3rem; }
  .footer__maps--logo {
    width: 4rem; }
  .footer__maps--logoText {
    padding-top: 0.6rem;
    font-size: 0.8rem; }
  .footer__maps--text {
    text-align: center; }
  .footer__maps--link {
    height: 4rem;
    width: 10rem; }
  .footer__maps--link:hover {
    height: 5rem;
    width: 12rem; }
  .footer__socialMedia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column; }
    @media screen and (max-width: 1024px) {
      .footer__socialMedia {
        width: 100vw;
        justify-content: center;
        display: flex; } }
  .footer__media--text {
    font-size: 1rem; }
  .footer__media--icon {
    width: 5rem;
    padding: 0rem 1.3rem;
    margin: 1rem 0rem; }
