/* Store - Main Section */

.store__mainSection {
  padding: 6rem 0rem;
}
.card {
  margin: 1rem 0rem;
}

.store__cards {
  padding: 2rem 0rem;
}

.card-body {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Racing Sans One";
  color: rgb(34, 53, 34);
  padding: 2rem 0rem;
}

.card-title {
  padding: 1rem 0rem;
}

/* Store - Second Section */

.secondSection__store {
  height: 100vh;
  position: relative;
  background-image: url("../assets/imagenes/foto_fondo_polvo_ladrillo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.secondSection__container {
  font-family: "Racing Sans One";
  color: rgba(189, 136, 37, 0.916);
  background-color: rgba(43, 59, 43, 0.749);
  font-weight: lighter;
  position: absolute;
  top: 4rem;
  right: 5rem;
  max-width: 70vw;
}

.secondSection__title {
  font-size: 3.5rem;
  padding: 3rem 0rem 4rem 0rem;
  text-align: center;
}

.secondSection__text {
  font-size: 2.5rem;
  padding-bottom: 3rem;
  line-height: 3rem;
  text-align: center;
  padding: 2rem 5rem;
}
