@media screen and (max-width: 768px) {
  .secondSection__container {
    top: 4rem;
    right: 5rem;
    max-width: 70vw;
  }

  .secondSection__title {
    font-size: 2.5rem;
    text-align: center;
  }

  .secondSection__text {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  .contact__section {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 3rem 0rem;
  }

  .contact__text {
    font-size: 0.9rem;
  }

  .contact__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    margin: 0rem;
  }

  .contact__information1 {
    margin: 0rem 2rem;
  }

  .contact__image {
    width: 2.5rem;
    margin: 2rem 2rem;
  }

  .contact2__title {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .contact2__text {
    font-size: 1rem;
    line-height: 1rem;
    padding: 2rem 0rem 1rem 0rem;
  }

  .contact2__image {
    width: 2rem;
    margin: 1.5rem 2rem;
  }

  .contact2__image--bigger {
    width: 2.5rem;
  }

  .form {
    padding: 1.3rem 0.2rem;
  }

  .form__bottoms {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
    font-size: 0.7rem;
  }
  .form__bottom {
    margin: 0.2rem 0rem;
  }

  .agreement__text {
    padding: 0rem;
    margin: 0.5rem 0.2rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .media__icon {
    width: 4rem;
    padding: 0rem 1.2rem;
    margin: 0.3rem 0rem;
  }

  .services__text {
    padding: 0.7rem 4rem;
    margin: 0.5rem 0rem 1rem 0rem;
  }
}
