$headerImg: url("../assets/imagenes/portada\ 2.jpg");
$border: 0.1rem solid rgb(30, 74, 30);
$fontColor: rgb(30, 74, 30);
$fontFamily: "Racing Sans One", cursive;
$fontFamily2: "Racing Sans One", lighter;
$fontFamily3: "Inter", sans-serif;
