/* Page: Academia - Third Section */

.section3 {
  margin-top: -1rem;
  font-family: map-get($font, "font1");
  color: map-get($color, "font");
  padding-bottom: 4rem;
  background: radial-gradient(
    circle,
    rgba(242, 224, 202, 0.08476894175639005) 17%,
    rgba(244, 192, 120, 0.13238798937543772) 56%,
    rgba(241, 201, 145, 0.3144608185070903) 96%
  );

  &__subtitle {
    font-size: 2.3rem;
    padding: 5rem 0rem 4rem 9rem;
    @media screen and (max-width: 1024px) {
      padding: 4rem 0rem;
      text-align: center;
    }
  }

  &__img--container {
    align-items: flex-end;
  }

  &__img {
    width: 250px;
    border-radius: 2rem;
  }
  &__img--bigger {
    width: 260px;
  }
  &__texts {
    margin: 1rem 0rem;
    background: map-get($color, "background2");
    padding: 1rem 4rem;
    border-radius: 1rem;
    @media screen and (max-width: 1024px) {
      padding: 1rem 3.5rem;
    }
    @media screen and (max-width: 426px) {
      margin-bottom: 3.5rem;
    }
    @media screen and (max-width: 376px) {
      padding: 0.7rem 2.5rem;
    }
  }
  &__text {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    padding: 0.1rem 0rem;
  }
}
