/* Pages */
.headerPages__title {
  color: rgb(34, 53, 34);
  font-family: "Racing Sans One";
  font-weight: lighter;
  font-size: 3.3rem;
  padding: 3rem 4rem;
  position: absolute;
  top: 30rem;
}

/* Page: Academia - Main Section */

.academia__main {
  background: rgb(210, 123, 17);
  background: radial-gradient(
    circle,
    rgba(210, 123, 17, 0.5049370089832808) 34%,
    rgba(218, 173, 118, 0.6337885495995272) 69%,
    rgba(231, 206, 175, 0.8242647400757178) 91%
  );
  padding: 5rem;
}
.main__text {
  color: rgb(34, 53, 34);
  font-family: "Racing Sans One";
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
  margin-top: 2.5rem;
}
.mainAcademia__image {
  width: 21rem;
  border: 0.3rem solid rgba(91, 90, 89, 0.474);
}

/* Page: Academia - Second Section */

.section2 {
  padding: 5rem 2rem;
  font-family: "Racing Sans One";
  color: rgb(34, 53, 34);
  background: radial-gradient(
    circle,
    rgba(242, 224, 202, 0.08476894175639005) 17%,
    rgba(244, 192, 120, 0.13238798937543772) 56%,
    rgba(241, 201, 145, 0.3144608185070903) 96%
  );
}

.section2__text {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 0rem 0rem 1.5rem 4rem;
}
.section2__subtitle {
  font-size: 2.3rem;
  padding: 1rem 0rem 2rem 7rem;
}

.section2__cards {
  justify-content: space-around;
  margin-bottom: 2rem;
}

.section2__card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 500px;
}

.card1__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(245, 199, 113, 0.927);
  margin-top: 0.5rem;
  padding: 1rem 10.7rem;
  margin-top: 0.5rem;
  position: absolute;
  top: 21rem;
}

.section2__card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  max-width: 500px;
}

.card2__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(245, 199, 113, 0.927);
  padding: 1rem 10.9rem;
  margin-top: 0.5rem;
  position: absolute;
  top: 21rem;
}

/* Page: Academia - Third Section */

.section3 {
  font-family: "Racing Sans One";
  color: rgb(34, 53, 34);
  padding-bottom: 4rem;
  background: radial-gradient(
    circle,
    rgba(242, 224, 202, 0.08476894175639005) 17%,
    rgba(244, 192, 120, 0.13238798937543772) 56%,
    rgba(241, 201, 145, 0.3144608185070903) 96%
  );
}
.section3__subtitle {
  font-size: 2.3rem;
  padding: 4rem 0rem 6rem 4rem;
}

.cardTeacher__text {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  padding: 0.3rem 0rem;
}

.cardTeacher1__image {
  width: 23rem;
  height: 19rem;
  margin-bottom: 0.5rem;
}

.cardTeacher2__image {
  width: 27rem;
  height: 19rem;
  margin-bottom: 0.5rem;
}

.cardTeacher3__image {
  width: 21rem;
  height: 19rem;
  margin-bottom: 0.5rem;
}
